.main {
 
  background-color: rgb(20, 49, 197);
  display: block;
  width: 100px;
}

.message {
    

}

.time {
}

.you {
  background-color: rgb(194, 197, 20);
  margin-left: auto;
  margin-right: 0;
   
  
}

.last {
  margin-bottom: 8%;
}
